<% if user_signed_in? %>
<div class="character">
  <h2><%= current_user.username %></h2>
  <h4>Strength: <%= current_user.strength %></h4>
  <h4>Speed: <%= current_user.speed %></h4>
  <h4>Health: <%= current_user.health %></h4>
  <h4>Gold: <%= current_user.gold %></h4>
  <h3>Experience: <%= current_user.xp %></h3>
</div>
<% end %>
